#t1 {
  font-family: serif;
}
#t2 {
  font-family: sans-serif;
  font-style: oblique;
}
#t3 {
  font-family: cursive;
  font-style: italic;
}
#t4 {
  font-family: monospace;
}
#t5 {
  font-family: fantasy;
}
